.navbar{
    width: 85%;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.content{
    width: 85%;
    height: 91vh;
    background-color: gray;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover{
    text-decoration: underline;
    background-color: lightgray;
}

.navbar-brand{
    position: absolute;
    margin: 43%;
}

@media (max-width: 991px){
    .navbar {
        width: 100vw;
    }
    .content {
        width: 100vw;
        flex-direction: column;
    }
    .greeting{
        display: none;
    }
}

.about{
    margin: auto;
    margin-top: 100px;
    height: 80px;
    width: 400px;
    background-color: gray;
    text-align: center;
}

.greeting{
    position: absolute;
    top: 200px;
    font-size: larger;
}

.cards{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addto{
    position: relative;
    background-color: red;
}

.thumbnail{
    width: 150px;
    height: 150px;
}

.test{
    color: red;
    height: 10px;
    background-color: yellow;
}

.card-group{
    position: relative;
    top: 100px;
    height: 100px;
}