{% include "hackazon_app/layout.html" %}
<script src="/static/javascript/main.js" defer></script>

<div class="content">
    <form id="search-form">
        <label for="product">Search For A Product</label>
        <input id="product" placeholder="Over One Dozen Items...">
        <button id="search-button" type="submit">Submit</button>
    </form>
    <div id="out-of-stock">
        <img id="oos-image" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Nothing_whitespace_blank.png">
        <h2>This item is out of stock</h2>
    </div>
</div>